body {
  background-color: blanchedalmond;
}

img {
  width: 25vw;
  height: 20vh;
  align-items: center;
  border: 2px solid black;
}
h1 {
  text-align: center;
}

.park-list {
  padding: 2em 4em;
  display: grid;
  grid-template-columns: repeat(2, 40vw);
  grid-gap: 5vw;
  cursor: pointer;
  text-align: center;
}
.park {
  border: 5px solid black;
  padding-top: 2vh;
}

.detail-header {
  text-align: center;
  background-color: lightblue;
  border: 2px solid black;
}

.reviews {
  text-align: center;
}
.review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-card {
  border: 2px solid black;
  width: 60vw;
  text-align: left;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
}

.review-form {
  display: flex;
  justify-content: center;
  text-align: center;
}
.form {
  width: 60vw;
  border: 2px solid black;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
}

.form:hover {
  border: 2px dashed black;
}

.back {
  text-align: center;
  margin: 1vh;
}
.border {
  display: flex;
  width: 60vw;
  align-content: flex-end;
  justify-content: space-between;
}

button:hover {
  background-color: black;
  color: white;
}
