img {
  width: 25vw;
  height: 15vh;
}

.park-list {
  display: flex;
  width: 80vw;
  height: 90vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
